{{ define "base" }}
<!DOCTYPE html>
<html lang="{{.Locale}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{T .Locale "app.description"}}">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <title>{{ .Title }} - Nivoxis</title>

    <link href="/css/dist/gophish.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap' rel='stylesheet'>
    <script>
        {{if .User}}
    var user = {
        api_key : {{ .User.ApiKey }},
        username : {{ .User.Username }},
        role : "{{ .User.Role.Slug }}"
    }
    var permissions = {
        modify_system: {{ .ModifySystem }},
        modify_objects: {{ .ModifyObjects }},
        manage_training: {{ .ManageTraining }},
        view_reports: {{ .ViewReports }}
    }
    {{end}}
    {{if .Token}}
        var csrf_token = {{.Token}}
    {{end}}
    </script>
</head>

<body>
    <script>if(localStorage.getItem('nivoxis-dark')==='1'){document.body.classList.add('dark-mode');}</script>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-logo" src="/images/logo_inv_small.png" alt="Nivoxis" />
                <a class="navbar-brand" href="/">&nbsp;Nivoxis</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="btn-group" id="lang-selector">
                            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="u-mt10">
                                <i class="fa fa-globe"></i> {{.Locale}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {{range .Languages}}
                                <li><a href="#" onclick="setLocale('{{.Code}}'); return false;">{{.Name}}</a></li>
                                {{end}}
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="dark-mode-toggle" id="dark-mode-toggle" title="Toggle dark mode">
                            <i class="fa fa-moon-o"></i>
                        </button>
                    </li>
                    <li>
                        {{if .User}}
                        <div class="btn-group" id="navbar-dropdown">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i> {{.User.Username}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" style="min-width:180px;">
                                <li><a href="/my-courses"><i class="fa fa-graduation-cap"></i> {{T .Locale "nav.my_courses"}}</a></li>
                                {{if .ModifySystem}}
                                <li><a href="/settings"><i class="fa fa-cog"></i> {{T .Locale "nav.account_settings"}}</a></li>
                                <li><a href="/webhooks"><i class="fa fa-plug"></i> {{T .Locale "nav.webhooks"}}</a></li>
                                {{end}}
                                <li class="divider"></li>
                                <li><a href="/logout"><i class="fa fa-sign-out"></i> {{T .Locale "nav.logout"}}</a></li>
                            </ul>
                        </div>
                        {{else}}
                        <a href="/login">
                            <button type="button" class="btn btn-primary">{{T .Locale "login.title"}}</button>
                        </a>
                        {{end}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{template "nav" .}}
    {{template "body" .}}
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/dist/vendor.min.js"></script>
    <script src="/js/dist/app/gophish.min.js"></script>
    <script src="/js/dist/app/i18n.min.js"></script>
    {{template "scripts" .}}
    <script>
    (function() {
        var btn = document.getElementById('dark-mode-toggle');
        var icon = btn ? btn.querySelector('i') : null;
        function applyMode(dark) {
            if (dark) {
                document.body.classList.add('dark-mode');
                if (icon) { icon.className = 'fa fa-sun-o'; }
            } else {
                document.body.classList.remove('dark-mode');
                if (icon) { icon.className = 'fa fa-moon-o'; }
            }
        }
        applyMode(localStorage.getItem('nivoxis-dark') === '1');
        if (btn) {
            btn.addEventListener('click', function() {
                var isDark = document.body.classList.toggle('dark-mode');
                localStorage.setItem('nivoxis-dark', isDark ? '1' : '0');
                if (icon) { icon.className = isDark ? 'fa fa-sun-o' : 'fa fa-moon-o'; }
            });
        }
    })();
    </script>
</body>

</html>
{{ end }}
