{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            Users &amp; Groups
        </h1>
    </div>
    <div id="flashes" class="row"></div>

    <!-- Tabs -->
    <ul class="nav nav-tabs" id="usersGroupsTabs">
        <li class="active"><a href="#allTab" data-toggle="tab">All</a></li>
        <li><a href="#groupsTab" data-toggle="tab">Groups</a></li>
        {{if .ModifySystem}}
        <li><a href="#dashboardUsersTab" data-toggle="tab">Users</a></li>
        {{end}}
    </ul>
    <br/>

    <!-- Tab Content -->
    <div class="tab-content">
        <!-- ===== ALL TAB ===== -->
        <div class="tab-pane active" id="allTab">
            {{if .ModifyObjects}}
            <div class="row" class="u-mb10">
                <button type="button" class="btn btn-primary" onclick="editGroup(-1)" data-toggle="modal" data-backdrop="static"
                    data-target="#groupModal">
                    <i class="fa fa-plus"></i> New Group</button>
                {{if .ModifySystem}}
                <button type="button" class="btn btn-success" id="new_user_button_all" data-toggle="modal" data-backdrop="static"
                    data-target="#userModal">
                    <i class="fa fa-plus"></i> New User</button>
                {{end}}
            </div>
            {{end}}
            <div id="allLoading">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
            </div>
            <div id="allEmptyMessage" class="row" class="u-hidden">
                <div class="alert alert-info">
                    No groups or users yet. Create one!
                </div>
            </div>
            <h4>Groups</h4>
            <div class="row">
                <table id="allGroupTable" class="table" class="u-hidden">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th># of Members</th>
                            <th>Modified Date</th>
                            <th class="col-md-2 no-sort"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            {{if .ModifySystem}}
            <h4>Users</h4>
            <div class="row">
                <table id="allUserTable" class="table" class="u-hidden">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th>Role</th>
                            <th class="col-md-2 no-sort"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            {{end}}
        </div>

        <!-- ===== GROUPS TAB ===== -->
        <div class="tab-pane" id="groupsTab">
            {{if .ModifyObjects}}
            <div class="row">
                <button type="button" class="btn btn-primary" onclick="editGroup(-1)" data-toggle="modal" data-backdrop="static"
                    data-target="#groupModal">
                    <i class="fa fa-plus"></i> New Group</button>
            </div>
            {{end}}
            &nbsp;
            <div id="groupLoading">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
            </div>
            <div id="groupEmptyMessage" class="row" class="u-hidden">
                <div class="alert alert-info">
                    No groups created yet. Let's create one!
                </div>
            </div>
            <div class="row">
                <table id="groupTable" class="table" class="u-hidden">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th># of Members</th>
                            <th>Modified Date</th>
                            <th class="col-md-2 no-sort"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <!-- ===== USERS TAB ===== -->
        {{if .ModifySystem}}
        <div class="tab-pane" id="dashboardUsersTab">
            <div class="row" class="u-mb10">
                <button type="button" class="btn btn-primary" id="new_user_button" data-toggle="modal" data-backdrop="static"
                    data-target="#userModal">
                    <i class="fa fa-plus"></i> New User</button>
                <span class="btn btn-success btn-file" data-toggle="tooltip" data-placement="right"
                    title="CSV: Password, First Name, Last Name, Email, Position, Role" id="userCsvUploadBtn">
                    <i class="fa fa-upload"></i> Bulk Import Users
                    <input type="file" id="userCsvUpload" accept=".csv,.txt">
                </span>
                <span id="user-csv-template" class="text-muted small" style="cursor:pointer; margin-left:8px;">
                    <i class="fa fa-file-excel-o"></i> Download User CSV Template</span>
            </div>
            <div id="userLoading">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
            </div>
            <div class="row">
                <table id="dashboardUserTable" class="table" class="u-hidden">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th>Role</th>
                            <th>Last Login</th>
                            <th class="col-md-2 no-sort"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        {{end}}
    </div>
</div>

<!-- ===== GROUP MODAL ===== -->
<div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="groupModalLabel">New Group</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="groupModal.flashes"></div>
                <label class="control-label" for="groupName">Group Name:</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Group name" id="groupName" autofocus />
                </div>
                <hr/>
                <h5><strong>Add Members</strong></h5>
                <div class="alert alert-info" style="padding:8px 12px; font-size:0.88em; margin-bottom:12px;">
                    <i class="fa fa-info-circle"></i>
                    Only <strong>registered users</strong> can be added to groups.
                    To add someone new, first create their user account in
                    <a href="/users">Users &amp; Groups</a>, then return here to add them.
                </div>
                <div class="form-group">
                    <label class="control-label" for="userSelect">Select User:</label>
                    <div class="input-group">
                        <select class="form-control" id="userSelect">
                            <option value="">-- Select a registered user --</option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id="addUserToGroupBtn">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </span>
                    </div>
                    <div id="duplicate-user-warning" class="text-warning" style="display:none; font-size:0.88em; margin-top:4px;">
                        <i class="fa fa-exclamation-triangle"></i> This user is already in the group.
                    </div>
                </div>
                <div class="form-group" style="margin-top:8px;">
                    <span class="btn btn-info btn-file btn-sm">
                        <i class="fa fa-upload"></i> Bulk Add via CSV
                        <input type="file" id="csvupload">
                    </span>
                    <span id="csv-template" class="text-muted small" style="cursor:pointer; margin-left:8px;">
                        <i class="fa fa-file-excel-o"></i> Download Group CSV Template</span>
                </div>
                <div id="csv-import-results" style="display:none; margin-top:8px;"></div>
                <br/>
                <table id="targetsTable" class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="groupModalSubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- ===== USER MODAL ===== -->
{{if .ModifySystem}}
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="userModalLabel">New User</h4>
            </div>
            <div class="modal-body" id="userModal_body">
                <div class="row" id="userModal.flashes"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label" for="userFirstName">First Name: <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name" id="userFirstName" required />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label" for="userLastName">Surname: <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name" id="userLastName" required />
                        </div>
                    </div>
                </div>
                <label class="control-label" for="userEmail">Email: <span class="text-danger">*</span></label>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email address (used to sign in)" id="userEmail" required />
                </div>
                <label class="control-label" for="userPosition">Position: <span class="text-danger">*</span></label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Position in company" id="userPosition" required />
                </div>
                <label class="control-label" for="userPassword">Password:</label>
                <div class="form-group">
                    <input type="password" class="form-control" autocomplete="new-password" placeholder="Password" id="userPassword" required />
                    <div class="hidden" id="password-strength-container">
                        <div class="progress" id="password-strength">
                            <div id="password-strength-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span id="password-strength-description"></span>
                    </div>
                </div>
                <label class="control-label" for="userConfirmPassword">Confirm Password:</label>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password" id="userConfirmPassword" required />
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="force_password_change_checkbox" type="checkbox" checked>
                    <label for="force_password_change_checkbox">Require the user to set a new password</label>
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="account_locked_checkbox" type="checkbox">
                    <label for="account_locked_checkbox">Account Locked</label>
                </div>
                <label class="control-label" for="role">Role: <span class="text-danger">*</span></label>
                <div class="form-group" id="role-select">
                    <select class="form-control" id="role"></select>
                </div>
                <div class="form-group" id="role-description">
                    <div class="well well-sm" id="role-desc-text" class="u-mb0">
                        <small class="text-muted">Select a role to see its permissions.</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="userModalSubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>
{{end}}

{{end}} {{define "scripts"}}
<script src="/js/dist/app/passwords.min.js"></script>
<script src="/js/dist/app/groups.min.js"></script>
{{end}}