{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        <i class="fa fa-trophy"></i> {{.Title}}
    </h1>
    <div id="flashes" class="row"></div>

    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>

    <div id="leaderboardContent" style="display:none;">
        <!-- My Position -->
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-4">
                <div class="panel panel-primary text-center">
                    <div class="panel-body">
                        <h2 id="myRank" style="margin:5px 0;">#--</h2>
                        <p style="margin:0;">{{T .Locale "leaderboard.your_rank"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h2 id="myScore" style="margin:5px 0;">0</h2>
                        <p style="margin:0;">{{T .Locale "leaderboard.your_score"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h2 id="myBadges" style="margin:5px 0;">0</h2>
                        <p style="margin:0;">{{T .Locale "leaderboard.badges_earned"}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Filters -->
        <div class="row" style="margin-bottom:15px;">
            <div class="col-md-6">
                <div class="form-inline">
                    <label>{{T .Locale "common.department"}}: </label>
                    <select class="form-control" id="filterDepartment" style="margin-left:5px;">
                        <option value="">{{T .Locale "leaderboard.all_departments"}}</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Leaderboard Table -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list-ol"></i> {{T .Locale "leaderboard.rankings"}}</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped" id="leaderboardTable">
                            <thead>
                                <tr>
                                    <th style="width:60px;">{{T .Locale "leaderboard.rank"}}</th>
                                    <th>{{T .Locale "common.name"}}</th>
                                    <th>{{T .Locale "common.email"}}</th>
                                    <th style="width:120px;">{{T .Locale "leaderboard.score"}}</th>
                                    <th style="width:100px;">{{T .Locale "leaderboard.badges"}}</th>
                                </tr>
                            </thead>
                            <tbody id="leaderboardBody">
                            </tbody>
                        </table>
                        <p id="noLeaderboard" style="color:#888;display:none;">
                            {{T .Locale "leaderboard.empty"}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "scripts"}}
<script src="/js/dist/app/gamification.min.js"></script>
{{end}}
