{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        <i class="fa fa-bar-chart"></i> {{T .Locale "reports.title"}}
    </h1>
    <div id="flashes" class="row"></div>

    <!-- Tab navigation -->
    <ul class="nav nav-tabs" id="reportTabs" style="margin-bottom:20px;">
        <li class="active"><a href="#overviewTab" data-toggle="tab">{{T .Locale "reports.tab_overview"}}</a></li>
        <li><a href="#trendTab" data-toggle="tab">{{T .Locale "reports.tab_trend"}}</a></li>
        <li><a href="#groupsTab" data-toggle="tab">{{T .Locale "reports.tab_groups"}}</a></li>
        <li><a href="#trainingTab" data-toggle="tab">{{T .Locale "reports.tab_training"}}</a></li>
        <li><a href="#riskTab" data-toggle="tab">{{T .Locale "reports.tab_risk"}}</a></li>
        <li><a href="#brsTab" data-toggle="tab">{{T .Locale "reports.tab_brs"}}</a></li>
    </ul>

    <!-- Export all formats dropdown -->
    <div class="pull-right" style="margin-top:-55px;">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-download"></i> {{T .Locale "reports.export_all"}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/api/reports/export?type=overview&format=csv"><i class="fa fa-file-text-o"></i> {{T .Locale "reports.overview_csv"}}</a></li>
                <li><a href="/api/reports/export?type=overview&format=xlsx"><i class="fa fa-file-excel-o"></i> {{T .Locale "reports.overview_xlsx"}}</a></li>
                <li><a href="/api/reports/export?type=overview&format=pdf"><i class="fa fa-file-pdf-o"></i> {{T .Locale "reports.overview_pdf"}}</a></li>
                <li class="divider"></li>
                <li><a href="/api/reports/export?type=risk-scores&format=xlsx"><i class="fa fa-file-excel-o"></i> {{T .Locale "reports.risk_scores_xlsx"}}</a></li>
                <li><a href="/api/reports/export?type=training&format=xlsx"><i class="fa fa-file-excel-o"></i> {{T .Locale "reports.training_xlsx"}}</a></li>
                <li><a href="/api/reports/export?type=groups&format=xlsx"><i class="fa fa-file-excel-o"></i> {{T .Locale "reports.groups_xlsx"}}</a></li>
                <li><a href="/api/reports/export?type=brs&format=xlsx"><i class="fa fa-file-excel-o"></i> {{T .Locale "reports.brs_xlsx"}}</a></li>
                <li><a href="/api/reports/export?type=results&format=xlsx"><i class="fa fa-file-excel-o"></i> {{T .Locale "reports.results_xlsx"}}</a></li>
                <li class="divider"></li>
                <li><a href="/api/reports/export?type=compliance&format=xlsx"><i class="fa fa-file-excel-o"></i> {{T .Locale "reports.compliance_xlsx"}}</a></li>
                <li><a href="/api/reports/export?type=compliance&format=pdf"><i class="fa fa-file-pdf-o"></i> {{T .Locale "reports.compliance_pdf"}}</a></li>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <!-- Overview Tab -->
        <div class="tab-pane active" id="overviewTab">
            <div id="overviewLoading" style="text-align:center; padding:40px;">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            <div id="overviewContent" style="display:none;">
                <!-- Summary cards -->
                <div class="row" id="overviewCards"></div>
                <!-- Donut charts -->
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-4"><div id="overviewSentChart" style="height:250px;"></div></div>
                    <div class="col-md-4"><div id="overviewClickedChart" style="height:250px;"></div></div>
                    <div class="col-md-4"><div id="overviewReportedChart" style="height:250px;"></div></div>
                </div>
                <div style="margin-top:15px; text-align:right;">
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=overview&format=csv">
                        <i class="fa fa-download"></i> {{T .Locale "common.export_csv"}}
                    </a>
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=overview&format=xlsx">
                        <i class="fa fa-file-excel-o"></i> {{T .Locale "common.export_xlsx"}}
                    </a>
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=overview&format=pdf">
                        <i class="fa fa-file-pdf-o"></i> {{T .Locale "common.export_pdf"}}
                    </a>
                </div>
            </div>
        </div>

        <!-- Trend Tab -->
        <div class="tab-pane" id="trendTab">
            <div id="trendLoading" style="text-align:center; padding:40px;">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            <div id="trendContent" style="display:none;">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-4">
                        <label for="trendDays">{{T .Locale "reports.time_period"}}</label>
                        <select id="trendDays" class="form-control input-sm">
                            <option value="7">{{T .Locale "reports.last_7"}}</option>
                            <option value="14">{{T .Locale "reports.last_14"}}</option>
                            <option value="30" selected>{{T .Locale "reports.last_30"}}</option>
                            <option value="60">{{T .Locale "reports.last_60"}}</option>
                            <option value="90">{{T .Locale "reports.last_90"}}</option>
                            <option value="180">{{T .Locale "reports.last_6mo"}}</option>
                            <option value="365">{{T .Locale "reports.last_year"}}</option>
                        </select>
                    </div>
                </div>
                <div id="trendChart" style="height:400px;"></div>
                <div id="trendSummary" class="row" style="margin-top:20px;"></div>
            </div>
        </div>

        <!-- Groups Tab -->
        <div class="tab-pane" id="groupsTab">
            <div id="groupsLoading" style="text-align:center; padding:40px;">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            <div id="groupsContent" style="display:none;">
                <div id="groupsChart" style="height:350px; margin-bottom:20px;"></div>
                <table id="groupsTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{T .Locale "reports.group"}}</th>
                            <th>{{T .Locale "reports.total"}}</th>
                            <th>{{T .Locale "reports.sent"}}</th>
                            <th>{{T .Locale "reports.opened"}}</th>
                            <th>{{T .Locale "reports.clicked"}}</th>
                            <th>{{T .Locale "reports.submitted"}}</th>
                            <th>{{T .Locale "reports.reported"}}</th>
                            <th>{{T .Locale "reports.click_rate"}}</th>
                        </tr>
                    </thead>
                    <tbody id="groupsTableBody"></tbody>
                </table>
                <div style="text-align:right;">
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=groups&format=csv">
                        <i class="fa fa-download"></i> {{T .Locale "common.export_csv"}}
                    </a>
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=groups&format=xlsx">
                        <i class="fa fa-file-excel-o"></i> {{T .Locale "common.export_xlsx"}}
                    </a>
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=groups&format=pdf">
                        <i class="fa fa-file-pdf-o"></i> {{T .Locale "common.export_pdf"}}
                    </a>
                </div>
            </div>
        </div>

        <!-- Training Tab -->
        <div class="tab-pane" id="trainingTab">
            <div id="trainingLoading" style="text-align:center; padding:40px;">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            <div id="trainingContent" style="display:none;">
                <div class="row" id="trainingCards"></div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-5"><div id="trainingStatusChart" style="height:300px;"></div></div>
                    <div class="col-md-7"><div id="trainingMetricsPanel"></div></div>
                </div>
                <div style="margin-top:15px; text-align:right;">
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=training&format=csv">
                        <i class="fa fa-download"></i> {{T .Locale "common.export_csv"}}
                    </a>
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=training&format=xlsx">
                        <i class="fa fa-file-excel-o"></i> {{T .Locale "common.export_xlsx"}}
                    </a>
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=training&format=pdf">
                        <i class="fa fa-file-pdf-o"></i> {{T .Locale "common.export_pdf"}}
                    </a>
                </div>
            </div>
        </div>

        <!-- Risk Assessment Tab -->
        <div class="tab-pane" id="riskTab">
            <div id="riskLoading" style="text-align:center; padding:40px;">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            <div id="riskContent" style="display:none;">
                <div id="riskHistogram" style="height:300px; margin-bottom:20px;"></div>
                <table id="riskTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{T .Locale "common.email"}}</th>
                            <th>{{T .Locale "common.name"}}</th>
                            <th>{{T .Locale "reports.emails_received"}}</th>
                            <th>{{T .Locale "reports.clicked"}}</th>
                            <th>{{T .Locale "reports.submitted"}}</th>
                            <th>{{T .Locale "reports.reported"}}</th>
                            <th>{{T .Locale "reports.risk_score"}}</th>
                        </tr>
                    </thead>
                    <tbody id="riskTableBody"></tbody>
                </table>
                <div style="text-align:right;">
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=risk-scores&format=csv">
                        <i class="fa fa-download"></i> {{T .Locale "common.export_csv"}}
                    </a>
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=risk-scores&format=xlsx">
                        <i class="fa fa-file-excel-o"></i> {{T .Locale "common.export_xlsx"}}
                    </a>
                    <a class="btn btn-default btn-sm" href="/api/reports/export?type=risk-scores&format=pdf">
                        <i class="fa fa-file-pdf-o"></i> {{T .Locale "common.export_pdf"}}
                    </a>
                </div>
            </div>
        </div>
        <!-- BRS Tab -->
        <div class="tab-pane" id="brsTab">
            <div id="brsLoading" style="text-align:center; padding:40px;">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            <div id="brsContent" style="display:none;">
                <!-- Summary cards -->
                <div class="row" id="brsCards"></div>
                <!-- Charts row -->
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>{{T .Locale "reports.score_distribution"}}</strong></div>
                            <div class="panel-body">
                                <div id="brsDistributionChart" style="height:300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>{{T .Locale "reports.dept_comparison"}}</strong></div>
                            <div class="panel-body">
                                <div id="brsDepartmentChart" style="height:300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Leaderboard table -->
                <div class="panel panel-default" style="margin-top:20px;">
                    <div class="panel-heading">
                        <strong>{{T .Locale "reports.leaderboard"}}</strong> <small class="text-muted">{{T .Locale "reports.leaderboard_hint"}}</small>
                        <button id="brsRecalcBtn" class="btn btn-xs btn-default pull-right" title="{{T .Locale "reports.recalculate_title"}}">
                            <i class="fa fa-refresh"></i> {{T .Locale "reports.recalculate"}}
                        </button>
                    </div>
                    <div class="panel-body" style="padding:0;">
                        <table id="brsTable" class="table table-striped table-hover" style="margin-bottom:0;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{T .Locale "common.name"}}</th>
                                    <th>{{T .Locale "common.email"}}</th>
                                    <th>{{T .Locale "common.department"}}</th>
                                    <th>{{T .Locale "reports.simulation"}}</th>
                                    <th>{{T .Locale "reports.academy"}}</th>
                                    <th>{{T .Locale "reports.quiz"}}</th>
                                    <th>{{T .Locale "reports.trend"}}</th>
                                    <th>{{T .Locale "reports.consistency"}}</th>
                                    <th>{{T .Locale "reports.composite"}}</th>
                                    <th>{{T .Locale "reports.percentile"}}</th>
                                </tr>
                            </thead>
                            <tbody id="brsTableBody"></tbody>
                        </table>
                    </div>
                </div>
                <!-- Benchmark -->
                <div class="row" id="brsBenchmarkRow" style="display:none;">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"><strong>{{T .Locale "reports.benchmark"}}</strong></div>
                            <div class="panel-body" id="brsBenchmarkContent"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{{end}}

{{define "scripts"}}
<script src="/js/dist/app/reports.min.js"></script>
{{end}}
